<h2>Apply Leave</h2>

<form method="POST" class="card p-4 shadow">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Start Date</label>
        {{ form.start_date }}
    </div>

    <div class="mb-3">
        <label class="form-label">End Date</label>
        {{ form.end_date }}
    </div>

    <div class="mb-3">
        <label class="form-label">Leave Type</label>
        {{ form.leave_type }}
    </div>

    <div class="mb-3">
        <label class="form-label">Reason</label>
        {{ form.reason }}
    </div>

    <button type="submit" class="btn btn-primary w-100">
        Submit Leave Request
    </button>

</form>


<a href="{% url 'dashboard' %}">
  <button type="button">⬅ Back to Dashboard</button>
